.navBar {
  display: flex;
  justify-content: flex-end;
  color: red;
  gap: 1rem;
  margin-right: 0.5rem;
  z-index: 10;
}

#map {
  position: relative;
}

p {
  z-index: 999;
  position: fixed;
  color: red;
  font-size: 40px;
}
